html{
    font: 400 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: #fff;
    color: #444;
}
body {
    margin: 0;
}
img {
    border: 0;
}
audio, canvas, img, svg, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
address, blockquote, dl, fieldset, figure, ol, p, pre, ul {
    margin: 0 0 15px 0;
}
*+address, *+blockquote, *+dl, *+fieldset, *+figure, *+ol, *+p, *+pre, *+ul {
    margin-top: 15px;
}
::selection {
    background: #39f;
    color: #fff;
    text-shadow: none;
}
[data-uk-sticky].uk-active {
    z-index: 980;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
}
.uk-link, a {
    color: #07D;
    text-decoration: none;
    cursor: pointer;
}
a {
    background: 0 0;
}
@media (min-width: 1200px) {
    .container > div.uk-sticky-placeholder{
        height: 78px;
        margin: 0px;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .container > div.uk-sticky-placeholder {
        height: 46px;
        margin: 0px;
    }
}
@media (max-width: 767px) {
    .container > div.uk-sticky-placeholder {
        height: 0px;
        margin: 0px;
    }
}
@media (min-width: 960px) {
    .uk-visible-small {
        display: none !important;
    }
    .uk-hidden-large {
        display: none !important;
    }
}
@media (max-width: 959px) and (min-width: 768px) {
    .uk-hidden-medium {
        display: none !important;
    }
    .uk-visible-small {
        display: none!important;
    }
}
@media (max-width: 767px){
    .uk-hidden-small {
        display: none!important;
    }
}
.uk-clearfix:before {
    content: "";
    display: table-cell;
}
.uk-clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.uk-grid {
    margin-left: -25px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
@media (min-width: 1220px) {
    .uk-grid {
        margin-left: -35px;
    }
}
/*
.uk-grid:after, .uk-grid:before {
    content: "";
    display: block;
    overflow: hidden;
}
.uk-grid:after {
    clear: both;
}
*/
.uk-grid > * {
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    margin: 0;
    float: left;
}
.uk-grid > * {
    padding-left: 25px;
}
@media (min-width: 1220px) {
    .uk-grid > * {
        padding-left: 35px;
    }
}
[class*=uk-grid-width]>* {
    box-sizing: border-box;
    width: 100%;
}
.uk-grid-width-1-2>* {
    width: 50%;
}
b, strong {
    font-weight: 700;
}
@media (min-width: 768px) {
    .uk-grid-width-medium-1-10 > * {
        width: 10%;
    }
}
[class*=uk-width] {
    box-sizing: border-box;
    width: 100%;
}
.uk-width-1-1 {
    width: 100%;
}
.uk-grid>*>:last-child {
    margin-bottom: 0;
}
.uk-grid-small {
    margin-left: -10px;
}
.uk-grid-small>* {
    padding-left: 10px;
}
.uk-grid-width-1-5>* {
    width: 20%;
}
@media (min-width: 768px) {
    .uk-grid-width-medium-1-2 > * {
        width: 50%;
    }
}
.uk-margin-top {
    margin-top: 15px!important;
}
[class*=uk-animation-] {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.uk-animation-fade {
     -webkit-animation-name: uk-fade;
     animation-name: uk-fade;
     -webkit-animation-duration: .8s;
     animation-duration: .8s;
     -webkit-animation-timing-function: linear!important;
     animation-timing-function: linear!important;
}
.uk-flex-middle {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.uk-width-1-4 {
    width: 25%;
}
.uk-overlay {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    margin: 0;
}
.uk-overlay>:first-child {
    margin-bottom: 0;
}
.uk-overlay-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: #fff;
}
.uk-overlay-image {
    padding: 0;
}
.uk-overlay-blur, .uk-overlay-fade, .uk-overlay-grayscale, .uk-overlay-scale, .uk-overlay-spin, [class*=uk-overlay-slide] {
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-property: opacity,transform,filter;
}
.uk-overlay-fade {
    opacity: .7;
}
.uk-overlay-hover:not(:hover):not(.uk-hover) .uk-overlay-panel:not(.uk-ignore) {
    opacity: 0;
}
.uk-width-3-4 {
    width: 75%;
}
.uk-panel {
    display: block;
    position: relative;
}
.uk-panel, .uk-panel:hover {
    text-decoration: none;
}
.uk-panel:after, .uk-panel:before {
    content: "";
    display: table;
}
.uk-panel:after {
    clear: both;
}
.uk-panel>:not(.uk-panel-title):last-child {
    margin-bottom: 0;
}
.uk-panel:after, .uk-panel:before {
    content: "";
    display: table;
}
.uk-panel:after {
    clear: both;
}
.uk-grid:after, .uk-grid:before {
    content: "";
    display: block;
    overflow: hidden;
}
.uk-grid:after {
    clear: both;
}
.sb-description .slider-text a:not([class]){
    color: inherit;
    text-decoration: underline;
}
.uk-breadcrumb {
    padding: 0;
    list-style: none;
    font-size: 0;
}
.uk-breadcrumb>li {
    font-size: 1rem;
    vertical-align: top;
}
.uk-breadcrumb>li, .uk-breadcrumb>li>a, .uk-breadcrumb>li>span {
    display: inline-block;
}
.uk-breadcrumb>li:nth-child(n+2):before {
    content: "/";
    display: inline-block;
    margin: 0 8px;
}
@media only screen and (min-width: 1200px) {
    #main-events .events-top > div {
        width: 800px !important;
        margin-top: 26px !important;
    }
}
@media (min-width: 768px) {
    .uk-width-medium-3-10 {
        width: 30%;
    }
}
@media (min-width: 768px) {
    .uk-width-medium-7-10 {
        width: 70%;
    }
}
.uk-margin-large-bottom {
    margin-bottom: 50px!important;
}
@media (min-width: 960px) {
    .uk-width-large-1-2, .uk-width-large-2-4, .uk-width-large-3-6, .uk-width-large-5-10 {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .uk-grid-width-medium-1-3 > * {
        width: 33.333%;
    }
}
.uk-margin-large-top {
    margin-top: 10px!important;
}
.uk-navbar-brand, .uk-navbar-content, .uk-navbar-toggle {
    box-sizing: border-box;
    display: block;
    height: 40px;
    padding: 0 15px;
    float: left;
}
.uk-navbar-toggle {
    font-size: 18px;
    color: #444;
    text-decoration: none;
}
.uk-nav, .uk-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.uk-nav-side>li.uk-active>a {
    background: #00a8e6;
    color: #fff;
}
.uk-nav, .uk-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.uk-nav li>a {
    display: block;
    text-decoration: none;
}
.uk-nav>li>a {
    padding: 5px 15px;
}
.uk-nav-side>li>a {
    color: #444;
}
.uk-margin-top-remove {
    margin-top: 0!important;
}
@media (min-width: 960px) {
    .uk-grid-width-large-1-3 > * {
        width: 33.333%;
    }
}
@media (min-width: 768px) {
    .uk-width-medium-1-3, .uk-width-medium-2-6 {
        width: 33.333%;
    }
}
@media (min-width: 768px) {
    .uk-width-medium-2-3, .uk-width-medium-4-6 {
        width: 66.666%;
    }
}
@media (min-width: 960px) {
    .uk-grid-width-large-1-2 > * {
        width: 50%;
    }
}
#clubs-list .clubcont .clubtext table tr td:first-child {
    width: 20px;
}
.uk-icon-map-marker:before {
    content: "\f041";
}
#clubs-list .clubcont [class*=fa-] {
    color: #d7d7d7;
    font-size: 20px;
    vertical-align: middle;
    width: 30px;
}
.uk-grid-collapse {
    margin-left: 0;
}
.uk-grid-width-1-3>* {
    width: 33.333%;
}
.uk-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: rgba(0,0,0,.6);
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
    touch-action: cross-slide-y pinch-zoom double-tap-zoom;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.uk-grid-collapse>* {
    padding-left: 0;
}
.uk-link:hover, a:hover {
    color: #059;
    text-decoration: underline;
}
.uk-slideshow {
    position: relative;
    z-index: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    touch-action: pan-y;
}
.uk-text-center {
    text-align: center!important;
}
.uk-form input[type=checkbox]:not(:disabled), .uk-form input[type=radio]:not(:disabled) {
    cursor: pointer;
}
.uk-text-right {
    text-align: right!important;
}
.uk-form input[type=radio], .uk-form input[type=checkbox] {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid #aaa;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: 0 0;
}
.uk-pagination {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 0;
}
.uk-pagination:after, .uk-pagination:before {
    content: "";
    display: table;
}
.uk-pagination>li {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
}
.uk-pagination>li>a, .uk-pagination>li>span {
    display: inline-block;
    min-width: 16px;
    padding: 3px 5px;
    line-height: 20px;
    text-decoration: none;
    box-sizing: content-box;
    text-align: center;
}
.uk-pagination>.uk-disabled>span {
    background-color: #f5f5f5;
    color: #999;
}
.uk-pagination>li:nth-child(n+2) {
    margin-left: 5px;
}
.uk-pagination>.uk-active>span {
    background: #00a8e6;
    color: #fff;
}
.uk-pagination>li>a {
    background: #eee;
    color: #444;
}
.uk-hidden {
    display: none!important;
    visibility: hidden!important;
}
@media (min-width: 768px) {
    .uk-width-medium-4-5, .uk-width-medium-8-10 {
        width: 80%;
    }
}
ol>li>ol, ol>li>ul, ul>li>ol, ul>li>ul {
    margin: 0;
}
#schedulecont .schedule-filters .ages a.active {
    color: #ff0033;
}
