


/*==============================input radio==============================*/
.cabinet_page_cb_srok_math_i,
.cabinet_page_ce_installment_math_input,
.cabinet_page_cnb_cart_input,
.cabinet_page_cnb_buy_installment_i {
    display: none;
}
.cabinet_page_cb_srok_math_l,
.cabinet_page_ce_installment_math_name,
.cabinet_page_cnb_cart_name,
.cabinet_page_cnb_buy_installment_l {
    color: #0f3b89;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
    cursor: pointer;
}
.cabinet_page_cb_srok_math_l:before,
.cabinet_page_ce_installment_math_name:before,
.cabinet_page_cnb_cart_name:before,
.cabinet_page_cnb_buy_installment_l:before {
    content: " ";
    color: #0f3b89;
    display: inline-block;
    /* шрифт Awesome*/
    font: 20px/30px FontAwesome;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0;
    width: 30px;
    height: 30px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-image: initial;
    border-radius: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.cabinet_page_cb_srok_math_i:checked + label:before,
.cabinet_page_ce_installment_math_input:checked + label:before,
.cabinet_page_cnb_cart_input:checked + .cabinet_page_cnb_cart_name:before,
.cabinet_page_cnb_buy_installment_i:checked + label:before {
    /* глифон - галочка */
    content: "\f111";
}
.cabinet_page_cb_srok_math_i:disabled + label:before,
.cabinet_page_ce_installment_math_input:disabled + label:before,
.cabinet_page_cnb_cart_input:disabled + .cabinet_page_cnb_cart_name:before,
.cabinet_page_cnb_buy_installment_i:disabled + label:before {
    background: #eee;
    color: #aaa;
}


















/*==============================input checkbox==============================*/
.cabinet_page_c_installment_i,
.cabinet_page_cb_drop_i,
.cabinet_page_ce_installment_input,
.cabinet_page_cnb_buy_installment_input {
    display: none;
}
.cabinet_page_c_installment,
.cabinet_page_cb_drop_l,
.cabinet_page_ce_installment_name,
.cabinet_page_cnb_buy_installment_name
{
    color: #0f3b89;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
    cursor: pointer;
}
.cabinet_page_c_installment:before,
.cabinet_page_cb_drop_l:before,
.cabinet_page_ce_installment_name:before,
.cabinet_page_cnb_buy_installment_name:before
{
    content: " ";
    color: #0f3b89;
    display: inline-block;
    /* шрифт Awesome*/
    font: 20px/30px FontAwesome;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0;
    width: 30px;
    height: 30px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-image: initial;
    vertical-align: middle;
    cursor: pointer;
}
.cabinet_page_c_installment_i:checked + .cabinet_page_c_installment:before,
.cabinet_page_cb_drop_i:checked + .cabinet_page_cb_drop_l:before,
.cabinet_page_ce_installment_input:checked + .cabinet_page_ce_installment_name:before,
.cabinet_page_cnb_buy_installment_input:checked + .cabinet_page_cnb_buy_installment_name:before
{
    /* глифон - галочка */
    content: "\f00c";
}
.cabinet_page_c_installment_i:disabled + .cabinet_page_c_installment:before,
.cabinet_page_cb_drop_i:disabled + .cabinet_page_cb_drop_l:before,
.cabinet_page_ce_installment_input:disabled + .cabinet_page_ce_installment_name:before,
.cabinet_page_cnb_buy_installment_input:disabled + .cabinet_page_cnb_buy_installment_name:before
{
    background: #eee;
    color: #aaa;
}






















.header {
    width: 100%;
    color: white;
}
.header_top_fon {
    width: 100%;
    background-color: rgb(16, 47, 122);
}
.header_top{
    display: flex;
    align-items: center;
}
.header_top_block {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header_top_block:first-child {
    margin-right: 10px;
    /*border-right: 1px solid white;*/
    padding-right: 25px;
}
.header_top_block:last-child {
    margin-left: auto;
}
.header_top_block_select_label {
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 4px;
}
.header_top_block_div_image {
    height: 65px;
    position: relative;
    overflow: hidden;
}
.header_top_block_logo {
    height: 65px;
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: -15px;*/
    /*right: 0;*/
    /*margin: auto;*/
}
.header_redhr {
    display: none;
}
.header_menu_trigger_label {
    display: none;
}

@media(max-width: 479px) {
    .header_top {
        justify-content: space-between;
    }
    .header_top_block_div_text {
        display: none;
    }
    .header_top_block_div_image {
        width: 60px;
        height: 45px;
    }
    .header_top_block_select_label {
        display: none;
    }
    .header_top_block:first-child {
        margin-right: 0;
        padding-right: 0;
    }
    .header_top_block_phone,
    .header_top_block_add{
        display: none;
    }
    .header_nav_fon {
        display: none;
    }
    .header_redhr,
    .header_menu_trigger_label{
        display: block;
    }
    .header_top_block_logo {
        height: 45px;
    }
    .header_top_block:last-child {
        margin-left: 0;
    }
}

.header_top_block_div_text {
    text-transform: uppercase;
    font-size: 8px;
    font-family: "Gotham SSm A", "Gotham SSm B";
    padding-left: 5px;
}
.header_top_block_select_club {
    cursor: pointer;
    color: red;
    white-space: nowrap;
    letter-spacing: 2px;
}
.header_top_block_select_club .select {
    font-family: "Gotham SSm A", "Gotham SSm B";
}
.header_top_block_select_club .select:before {
    content: '\f107';
    font-size: 14px;
    font-family: FontAwesome;
    float: left;
    margin-right: 10px;
}
.header_top_block_select_club .another-clubs {
    display: none;
    position: absolute;
    /*top: 100%;*/
    /*left: -10px;*/
    margin-top: 10px;
    padding: 5px 10px;
    background: #003366;
    color: #a3b2cf;
    box-shadow: 0 0 10px -6px;
    text-decoration: none;
    z-index: 10;
}
.header_top_block_select_club.select-club.select-open .another-clubs {
    display: block;
}
.header_top_block_select_club .another-clubs .another-club {
    padding: 5px 0;
}
.header_top_block_select_club .another-clubs .another-club:hover {
    color: white;
}
.header_top_block_phone a{
    font-weight: bold;
    color: white;
}
.header_top_block_add {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-size: 14px;
    background-color: red;
    text-transform: uppercase;
    transform: skew(-24deg)
}
.header_top_block_add a {
    color: white;
    text-decoration: none;
}
.header_top_block_add a span {
    transform: skew(24deg);
    display: block;
    margin: 0 10px;
}
@media (min-width: 768px){
    .header_top, .header_nav{
        width: 95%;
        margin: auto;
    }
    .header_top {
        padding-top: 15px;
    }
}
@media (min-width: 1200px) {
    .header_top, .header_nav{
        width: 1200px;
        margin: auto;
    }
    .header_top {
        padding-top: 15px;
    }
}
.header_nav_fon {
    width: 100%;
    background-color: rgb(16, 47, 122);
}
.header_nav{
    display: flex;
    align-items: center;
    font-family: "Gotham SSm A", "Gotham SSm B";
    text-transform: uppercase;
}
.header_nav_ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
}
.header_nav_ul_li {
    list-style-type: none;
    transform: skew(-24deg);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(16, 47, 122);
}
.header_nav_ul_li:hover .header_nav_ul_li_a {
    color: red;
    /*border-color: white;*/
    transition: color .5s linear;
}
.header_nav_ul_li.active .header_nav_ul_li_a{
    color: red;
    /*border-color: white;*/
    transition: color .5s linear;
}
.header_nav_ul_li a.header_nav_ul_li_a {
    text-decoration: none;
    color: white;
    transform: skew(24deg);
    display: block;
    width: 150px;
    text-align: center;
}
/*.header_nav_ul_li:hover a.header_nav_ul_li_a {*/
    /*text-decoration: none;*/
    /*color: white;*/
    /*transform: skew(-24deg);*/
    /*display: block;*/
    /*width: 150px;*/
    /*text-align: center;*/
    /*transition: transform .5s ease;*/
/*}*/
.header_nav_ul_li_a span {
    word-wrap: normal;
}
/*.header_nav_ul_li a.header_nav_ul_li_a:hover {*/
    /*color: #ff0033;*/
/*}*/

#select_club.header_top_block {
    cursor: pointer;
}
.header_top_block a.header_top_block_a {
    text-decoration: none;
    color: white;
}
.header_nav_ul_li.header_nav_cabinet {
    /*height: 100%;*/
    transform: skew(-24deg);
    align-items: center;
    display: flex;
    /*background-color: red;*/
    border: 0;
}
.header_nav_ul_li.header_nav_cabinet a.header_nav_ul_li_a.header_nav_cabinet_a {
    transform: skew(24deg);
    margin: 0 20px;
}

.special_main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 40px;
}
.special_main_head {
    background-color: red;
    height: 105px;
}
.special_main_head_name {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 3px;
    line-height: 40px;
    padding-top: 10px;
    margin: 0;
    transform: skew(24deg);
}
.special_main_head_desc {
    font-family: "Gotham SSm A", "Gotham SSm B";
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    color: white;
    margin: 0;
    transform: skew(24deg);
}
.special_main_first,
.special_main_second {
    width: 400px;
    transform: skew(-24deg);
}
.special_main_price {
    background-color: #1e3b89;
    padding-bottom: 30px;
}
.special_main_text_price_1{
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-size: 50px;
    line-height: 90px;
    color: white;
}
.special_main_text_price_2 {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-size: 35px;
    color: white;
}
.special_main_ru_price_1 {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-size: 30px;
    color: white;
    margin-left: 20px;
}
.special_main_ru_price_2 {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-size: 20px;
    color: white;
    margin-left: 15px;
}
.special_main_price_1 {
    text-align: center;
    transform: skew(24deg);
}
.special_main_price_2 {
    text-align: center;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-line: line-through;
    transform: skew(24deg);
}
.special_main_icon_price_2 {
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-line: line-through;
    font-size: 80%;
}
.special_main_price_2_r {
    text-align: center;
    /*text-decoration-color: red;*/
    /*text-decoration-style: solid;*/
    /*text-decoration-line: line-through;*/
    transform: skew(24deg);
}
.special_main_icon_price_2_r {
    /*text-decoration-color: red;*/
    /*text-decoration-style: solid;*/
    /*text-decoration-line: line-through;*/
    font-size: 80%;
}
.special_main_icon_price_1 {
    font-size: 80%;
}
.special_main_footer {
    background-color: red;
    text-align: center;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.special_main_footer_button {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-size: 17px;
    color: white;
    background-color: red;
    border: 0;
    text-transform: uppercase;
    transform: skew(24deg);
}
.special_main_line {
    height: 10px;
}

.schedule_download_btn{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}

.schedule_download_btn_a {
    display: inline-block;
    background: #ff0033;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transform: skew(-24deg);
}
.schedule_download_btn_a:hover {
    background: #e30031;
    color: white;
}
.schedule_download_btn_a_span {
    display: inline-block;
    transform: skew(24deg);
}

.schedule_download_btn_fitnes {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.trainers_group_clubs {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 20px;
}
.trainers_group_clubs_label {
    line-height: 40px;
}
.trainers_group_clubs_label {
    cursor: pointer;
}
.trainers_group_clubs_input {
    cursor: pointer;
}
.trainers {
    margin-bottom: 30px;
}
.contacts {
    margin-top: 30px;
}
.contacts_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.contacts_content_phone {
    background-color: red;
    transform: skew(-24deg);
    color: white;
    text-transform: uppercase;
}
.contacts_content_phone_txt{
    transform: skew(24deg);
    text-align: center;
    font-size: 25px;
    line-height: 50px;
}
.contacts_content_phone_number{
    transform: skew(24deg);
    text-align: center;
    font-size: 40px;
    line-height: 70px;
    font-weight: 800;
}

.contacts_content_work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
}
.contacts_content_work_head {
    color: blue;
    width: 450px;
}
.contacts_content_work_label {
    color: blue;

}
.contacts_content_work_txt {
    color: red;
    margin-left: 30px;
}
.contacts_content_work_start {
    display: flex;
    width: 450px;
}
.contacts_content_work_end {
    display: flex;
    width: 450px;
}
.club-card-container .card-image div.card_akchii {
    color: white;
    transform: skewY(-36deg);
    background-color: red;
    width: 59px;
    height: 21px;
    border-radius: 0;
    position: absolute;
    top: 21px;
}
.club-card-container .card-image div.card_akchii a {
    color: white;
    text-decoration: none;
}
.toplefttop {
    display: none;
}

.form_trainer_fdbc .group_tag .group_tag_row .group_tag_input{
     /*width:285px;*/
     font-family: "Gotham SSm A", "Gotham SSm B";
 }
.form_trainer_fdbc .group_tag .group_tag_row .group_tag_input .error {
    color: red;
    font-size: 10px;
    line-height: 10px;
}
.form_trainer_fdbc .group_tag .group_tag_row .group_tag_input label{
    display:block;
    font-weight:700;
    margin:5px 0 10px;
    color: #0f3b89;
    text-align: left;
}
.form_trainer_fdbc .group_tag .group_tag_row .group_tag_input label:after{
    color:red;
    content:"*"
}
.form_trainer_fdbc .group_tag .group_tag_row .group_tag_input input{
    color:#0f3b89;
    padding:10px
}
.form_trainer_fdbc .group_tag .group_tag_row .group_tag_input input{
    background-color:#f9f9fb;
    border:none;
    border-top:2px solid #0f3b89;
    box-sizing:border-box;
    font-size:18px;
    height:46px;
    outline:none;
    width: 100%;
}
.form_trainer_fdbc .group_tag .group_tag_row.flex {
    display: flex;
    justify-content: space-between;
}
.form_trainer_fdbc .group_tag .group_tag_row .group_tag_input.flex_width {
    width: 48%;
}
.form_trainer_fdbc .group_tag .group_tag_row .group_tag_input textarea{
    background-color:#f9f9fb;
    border:none;
    border-top:2px solid #0f3b89;
    box-sizing:border-box;
    font-size:18px;
    /*height:46px;*/
    outline:none;
    width: 100%;
}
.form_trainer_fdbc .group_tag .group_tag_row .group_tag_checkbox{
    align-self:center;
    display:flex;
    margin:5px 0;
    flex-direction: column;
}
.form_trainer_fdbc .group_tag .group_tag_row .group_tag_checkbox .error {
    color: red;
    font-size: 10px;
    line-height: 10px;
}
.form_trainer_fdbc .group_tag .group_tag_row .group_tag_checkbox span{
    color: #0f3b89;
    margin-right: 5px;
}
.form_trainer_fdbc .group_tag .group_tag_row .group_tag_checkbox a{
    color:red;
    text-decoration: none;
}
.form_trainer_fdbc .group_tag .button_submit{
    background:#f03;
    border:none;
    cursor:pointer;
    display:inline-block;
    padding:10px;
    text-align:center;
    transform:skew(-24deg);
    width:200px;
    outline: none;
}
.form_trainer_fdbc .group_tag .button_submit span{
    color:#fff;
    display:block;
    transform:skew(24deg)
}
.form_trainer_fdbc .group_tag .group_captcha {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
}


.form_join_fdbc_content {
    display: flex;
    justify-content: center;
}
.form_join_fdbc {
    width: 65vw;
}
.form_join_fdbc .form_of_back{
    color: red;
    background-color: #eff5f9;
    margin-top: 5px;
    line-height: 40px;
    font-size: 17px;
    text-align: center;
}
.form_join_fdbc .group_tag .group_tag_row .group_tag_input{
    /*width:285px;*/
    font-family: "Gotham SSm A", "Gotham SSm B";
}
.form_join_fdbc .group_tag .group_tag_row .group_tag_input label{
    display:block;
    font-weight:700;
    margin:5px 0 10px;
    color: #0f3b89;
    text-align: left;
}
.form_join_fdbc .group_tag .group_tag_row .group_tag_input label:after{
    color:red;
    content:"*"
}
.form_join_fdbc .group_tag .group_tag_row .group_tag_input input{
    color:#0f3b89;
    padding:10px
}
.form_join_fdbc .group_tag .group_tag_row .group_tag_input input{
    background-color:#f9f9fb;
    border:none;
    border-top:2px solid #0f3b89;
    box-sizing:border-box;
    font-size:18px;
    height:46px;
    outline:none;
    width: 100%;
}
.form_join_fdbc .group_tag .group_tag_row .error {
    color: red;
    font-size: 10px;
    line-height: 10px;
}
.form_join_fdbc .group_tag .group_tag_row.flex {
    display: flex;
    justify-content: space-between;
}
.form_join_fdbc .group_tag .group_tag_row .group_tag_input.flex_width {
    width: 48%;
}
.form_join_fdbc .group_tag .group_tag_row .group_tag_input textarea{
    background-color:#f9f9fb;
    border:none;
    border-top:2px solid #0f3b89;
    box-sizing:border-box;
    font-size:18px;
    /*height:46px;*/
    outline:none;
    width: 100%;
}
.form_join_fdbc .group_tag .group_tag_row .group_tag_checkbox{
    align-self:center;
    display:flex;
    margin:5px 0;
    flex-direction: column;
}
.form_join_fdbc .group_tag .group_tag_row .group_tag_checkbox span{
    color: #0f3b89;
    margin-right: 5px;
}
.form_join_fdbc .group_tag .group_tag_row .group_tag_checkbox a{
    color:red;
    text-decoration: none;
}
.form_join_fdbc .group_tag .button_submit{
    background:#f03;
    border:none;
    cursor:pointer;
    display:inline-block;
    padding:10px;
    text-align:center;
    transform:skew(-24deg);
    width:200px;
    outline: none;
}
.form_join_fdbc .group_tag .button_submit span{
    color:#fff;
    display:block;
    transform:skew(24deg)
}
.form_join_fdbc .group_tag .group_captcha {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
}

.form_join_fdbc .group_tag .group_tag_row .group_tag_input select{
    background-color:#f9f9fb;
    border:none;
    border-top:2px solid #0f3b89;
    box-sizing:border-box;
    font-size:18px;
    height:46px;
    outline:none;
    width:100%;
}
.form_join_fdbc .group_tag .group_tag_row .group_tag_input select{
    color:#f03
}
.form_join_fdbc .group_tag .group_tag_row .group_tag_input select option{
    color:#0f3b89
}

.form_trainer_fdbc .title_header {
    color: red;
    background-color: #eff5f9;
    margin-top: 5px;
    line-height: 40px;
    font-size: 17px;
    text-align: center;
}

@media (min-width: 1200px) {
    .cabinet_container {
        width: 1142px;
        margin: auto;
    }
}


.cabinet_container_content {
    display: flex;

}
.cabinet_container_header {
    display: flex;
    justify-content: space-around;
    height: 60px;
    border-bottom: 1px solid #e2e2e2;
}
.cabinet_select_club {
    align-self: center;
}
.cabinet_user {
    display: flex;
    align-self: center;
}
.cabinet_user_img {
    align-self: center;
}
.cabinet_user_fio {
    align-self: center;
}


.cabinet_container_content_menu_ul {
    list-style-type: none;

}
.cabinet_container_content_menu_ul li {
    border-bottom: 1px solid #eeeeee;
}

.cabinet_container_content_menu_a {
    /*padding: 10px 0 10px 20px;*/
    color: #0f3b89;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 45px;
    transition: all 0.2s;
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.cabinet_container_content_menu_a:before {
    content: "/ ";
    display: block;
    width: 0;
    overflow: hidden;
    float: left;
    color: #ff0033;
    transition: all 0.2s;
}
.cabinet_container_content_menu_ul .cabinet_container_content_menu_active .cabinet_container_content_menu_a,
.cabinet_container_content_menu_a:hover {
    color: #ff0033;
    background: none;
    font-weight: bold;
    text-decoration: none;
}
.cabinet_container_content_menu_ul .cabinet_container_content_menu_active .cabinet_container_content_menu_a:before,
.cabinet_container_content_menu_a:hover:before {
    width: 12px;
    text-decoration: none;
}







.cabinet_container_content_menu {
    width: 30%;
}




.cabinet_container_content_page {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-family: "Gotham SSm A", "Gotham SSm B";
    margin-top: 20px;
}




.cabinet_container_content_page_block {
    align-self: center;
    border: 1px solid #e2e2e2;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.cabinet_container_content_page_block_title {
    align-self: center;
    width: 90%;
    cursor: pointer;
    z-index: 1;
    /*margin-bottom: 20px;*/
    /*padding: 20px;*/
}
.cabinet_container_content_page_block_txt {
    background-color: white;
}




.cabinet_container_content_page_block_installment {
    list-style-type: none;
    padding: 0;
}
#cabinet_container_content_page_toogle_validity + .cabinet_container_content_page_block {
    padding: 0;
    border: 0;
    margin: 0;
    margin-bottom: -20px;
    transition: all 1s ease;
}
#cabinet_container_content_page_toogle_validity:checked + .cabinet_container_content_page_block {
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;
    padding: 20px;
    transition: all 1s ease;
}
#cabinet_container_content_page_toogle_validity + .cabinet_container_content_page_block .cabinet_container_content_page_block_btn {
    opacity: 0;
    transition: opacity 1s ease;
}
#cabinet_container_content_page_toogle_validity:checked + .cabinet_container_content_page_block .cabinet_container_content_page_block_btn {
    opacity: 1;
    transition: opacity 1s ease;
}

#cabinet_container_content_page_toogle_rest_freeze + .cabinet_container_content_page_block {
    padding: 0;
    border: 0;
    margin: 0;
    margin-bottom: -20px;
    transition: all 1s ease;
}
#cabinet_container_content_page_toogle_rest_freeze:checked + .cabinet_container_content_page_block {
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;
    padding: 20px;
    transition: all 1s ease;
}
#cabinet_container_content_page_toogle_rest_freeze + .cabinet_container_content_page_block .cabinet_container_content_page_block_btn {
    opacity: 0;
    transition: opacity 1s ease;
}
#cabinet_container_content_page_toogle_rest_freeze:checked + .cabinet_container_content_page_block .cabinet_container_content_page_block_btn {
    opacity: 1;
    transition: opacity 1s ease;
}

#cabinet_container_content_page_toogle_installment_plan + .cabinet_container_content_page_block {
    padding: 0;
    border: 0;
    margin: 0;
    margin-bottom: -20px;
    transition: all 1s ease;
}
#cabinet_container_content_page_toogle_installment_plan:checked + .cabinet_container_content_page_block {
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;
    padding: 20px;
    transition: all 1s ease;
}
#cabinet_container_content_page_toogle_installment_plan + .cabinet_container_content_page_block .cabinet_container_content_page_block_btn {
    opacity: 0;
    transition: opacity 1s ease;
}
#cabinet_container_content_page_toogle_installment_plan:checked + .cabinet_container_content_page_block .cabinet_container_content_page_block_btn {
    opacity: 1;
    transition: opacity 1s ease;
}
#cabinet_container_content_page_toogle_installment_plan + .cabinet_container_content_page_block .cabinet_container_content_page_block_installment {
    opacity: 0;
    transition: opacity 1s ease;
}
#cabinet_container_content_page_toogle_installment_plan:checked + .cabinet_container_content_page_block .cabinet_container_content_page_block_installment {
    opacity: 1;
    transition: opacity 1s ease;
}

.cabinet_page_cb_srok_math_ul,
.cabinet_page_cb_dop_ul_f,
.cabinet_container_content_page_dop_service_club,
.cabinet_page_cnb_ul,
.cabinet_page_cnb_buy_installment_ul
{
    padding: 10px 0 0 0;
    list-style-type: none;
}
.cabinet_page_cb_srok_math_li,
.cabinet_page_cb_dop_li_f,
.cabinet_container_content_page_block_installment_li,
.cabinet_container_content_page_dop_service_club_li,
.cabinet_page_cnb_li,
.cabinet_page_cnb_buy_installment_li
{
    margin: 5px 0;
}
.cabinet_container_content_page_srok_math,
.cabinet_container_content_page_dop,
.cabinet_container_content_page_dop_service,
.cabinet_container_content_page_dop_service_club {
    display: flex;
    flex-direction: column;
}
.cabinet_container_content_page_title,
.cabinet_container_content_page_srok,
.cabinet_container_content_page_dop,
.cabinet_container_content_page_buttons {
    align-self: center;
    width: 90%;
}
.cabinet_container_content_page_title_txt {
    font-size: 25px;
}
.cabinet_container_content_page_srok,
.cabinet_container_content_page_dop {
    margin-left: 60px;
}
.cabinet_container_content_page_srok_math,
.cabinet_container_content_page_dop_service_club,
.cabinet_container_content_page_dop_service{
    margin-left: 20px;
}
#cabinet_container_content_page_dop_service_club ~ .cabinet_container_content_page_dop_service_club {
    opacity: 0;
    height: 0;
    transition: all .3s ease;
}
#cabinet_container_content_page_dop_service_club:checked ~ .cabinet_container_content_page_dop_service_club {
    opacity: 1;
    height: 100%;
    transition: all 1s ease;
}
.cabinet_container_content_page_srok_title_txt,
.cabinet_container_content_page_dop_title_txt{
    font-size: 20px;
}
.cabinet_container_content_page_title,
.cabinet_container_content_page_srok,
.cabinet_container_content_page_dop{
    margin-bottom: 10px;
}
.cabinet_container_content_page_srok_math label input,
.cabinet_container_content_page_dop input{
    margin-right: 15px;
}
.cabinet_container_content_page_srok_math label,
.cabinet_container_content_page_dop label{
    margin: 5px 0;
}
.cabinet_container_content_page_block_btn,
.cabinet_container_content_page_btn,
.cabinet_page_cnb_btn,
.cabinet_page_ceb_btn,
.cabinet_page_ce_btn {
    text-decoration: none;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 3px;
    background-color: gainsboro;
}
.cabinet_container_content_page_block_btn:hover,
.cabinet_container_content_page_btn:hover,
.cabinet_page_cnb_btn:hover,
.cabinet_page_ceb_btn:hover,
.cabinet_page_ce_btn:hover {
    text-decoration: none;
}


.cabinet_page_cnb {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 20px;
}
.cabinet_page_cnb_title,
.cabinet_page_cnb_carts,
.cabinet_page_cnb_buy_installment,
.cabinet_page_cnb_summa,
.cabinet_page_cnb_buttons {
    align-self: center;
    width: 90%;
}
.cabinet_page_cnb_ul,
.cabinet_page_cnb_buy_installment_ul {
    list-style-type: none;
}
.cabinet_page_cnb_buy_installment_ul
{
    padding-left: 40px;
}
#cabinet_page_cnb_buy_installment_input ~ .cabinet_page_cnb_buy_installment_ul {
    opacity: 0;
    height: 0;
    transition: opacity .5s ease;
}
#cabinet_page_cnb_buy_installment_input:checked ~ .cabinet_page_cnb_buy_installment_ul {
    opacity: 1;
    height: 100%;
    transition: opacity .5s ease;
}

.cabinet_page_ce,
.cabinet_page_ceb {
    width: 70%;
}
.cabinet_page_ce_title,
.cabinet_page_ce_name,
.cabinet_page_ce_installment,
.cabinet_page_ce_summa,
.cabinet_page_ce_desc,
.cabinet_page_ce_buttons,
.cabinet_page_ceb_title,
.cabinet_page_ceb_name,
.cabinet_page_ceb_summa,
.cabinet_page_ceb_buttons{
    width: 90%;
    margin: 20px auto;
}
.cabinet_page_ce_txt,
.cabinet_page_ceb_title_txt{
    font-size: 25px;
}
.cabinet_page_ce_name_txt,
.cainet_page_ceb_name_txt {
    font-size: 20px;
}
.cabinet_page_ce_installment_li {
    margin: 5px 0;
}
.cabinet_page_ce_installment_ul {
    list-style-type: none;
}
#cabinet_page_ce_installment_input ~ .cabinet_page_ce_installment_ul {
    height: 0;
    opacity: 0;
    transition: opacity .5s ease;
}
#cabinet_page_ce_installment_input:checked ~ .cabinet_page_ce_installment_ul {
    height: 100%;
    opacity: 1;
    transition: opacity .5s ease;
}



.cabinet_container_content_page,
.cabinet_page_ce {
    margin-bottom: 50px;
}
.cabinet_user_balans {
    align-self: center;
}
